# While

Contar de 1 até 10

In [1]:
contador = 1
while contador <= 10:
    print(contador)
    contador += 1

1
2
3
4
5
6
7
8
9
10

Repetir SENAI 3 vezes junto com a contagem

In [4]:
contador = 1
while contador <= 3:
    print(f"{contador}. SENAI")
    contador += 1

1. SENAI
2. SENAI
3. SENAI

Pedir os três primeiros nomes e sobrenomes, separados, use concatenação para imprimir na tela

In [ ]:
contador = 1
while contador <= 3:
    nome = str(input("Insira o nome:"))
    sobrenome = str(input("Insira o sobrenome:"))
    nome = nome.capitalize()
    sobrenome = sobrenome.capitalize()
    
    nome_completo = nome + " " + sobrenome
    print(nome_completo)
    contador += 1

artur oliveira
doutor jones indiana
harry potter

Menu para saber dia da semana

In [ ]:
while True:
    opcao = int(input("Insira um número inteiro:"))
    
    match opcao:
        case 1:
            print("Domingo")
        case 2:
            print("Segunda-Feira")
        case 3:
            print("Terça-Feira")
        case 4:
            print("Quarta-Feira")
        case 5:
            print("Quinta-Feira")
        case 6:
            print("Sexta-Feira")
        case 7:
            print("Sábado")
        case _:
            print("Até mais")
            break

Quinta-Feira
Quinta-Feira
Até mais

# For

Contar até 10

In [6]:
for i in range(1, 11):
    print(i)

1
2
3
4
5
6
7
8
9
10

Contar de 10 a 1

In [7]:
for i in range(10, 0, -1):
    print(i)

10
9
8
7
6
5
4
3
2
1