### Trabalhando com Dicionários

Lista

In [2]:
# Isso é uma lista. Procurar dados que correspondam à idade, por exemplo, é problematicco
estudantes_lst = ["Pedro", 24, "Ana", 22, "Ronaldo", 26, "Janaina", 25]

In [3]:
estudantes_lst

['Pedro', 24, 'Ana', 22, 'Ronaldo', 26, 'Janaina', 25]

In [4]:
type(estudantes_lst)

list

Dicionário

In [5]:
# Isso é um dicionário
estudantes_dict = {"Pedro":24, "Ana":22, "Ronaldo":26, "Janaina":25}

In [6]:
type(estudantes_dict)

dict

In [7]:
#usando built-in items()
estudantes_dict.items()

dict_items([('Pedro', 24), ('Ana', 22), ('Ronaldo', 26), ('Janaina', 25)])

In [8]:
estudantes_dict2 = {"Pedro":{
                        "email":"pedro@email.com",
                        "telefone":'99999-4545',
                        'idade':20 },
                     "Maria":{
                         'email':"maria@gmail.com",
                         'telefone':'9999-3232',
                         'idade':21}                         
                    }
print(estudantes_dict2)

{'Pedro': {'email': 'pedro@email.com', 'telefone': '99999-4545', 'idade': 20}, 'Maria': {'email': 'maria@gmail.com', 'telefone': '9999-3232', 'idade': 21}}

In [9]:
compra = {"id_101":{
            'quantidade':1,
            'produto':'Tênis Hocks Puff - Petitpoa UV(310.002.PET43) Tamanho: 43',
            'preco':380.99,
            'embalagem':'-',
            'subtotal':389.99
            }
            }

print(compra)

{'id_101': {'quantidade': 1, 'produto': 'Tênis Hocks Puff - Petitpoa UV(310.002.PET43) Tamanho: 43', 'preco': 380.99, 'embalagem': '-', 'subtotal': 389.99}}

In [10]:
type(compra)

dict

Acessando valor

In [11]:
#acessando telefone de Pedro
telefone_pedro = estudantes_dict2['Pedro']['telefone']
print(f'O telefone do Pedro é: {telefone_pedro}')

O telefone do Pedro é: 99999-4545

In [12]:
#acessando qual o produto do id_101 de compra
produto = compra['id_101']['produto']
print(f"O produto da compra id_101 é {produto}")

O produto da compra id_101 é Tênis Hocks Puff - Petitpoa UV(310.002.PET43) Tamanho: 43

In [13]:
estudantes_dict

{'Pedro': 24, 'Ana': 22, 'Ronaldo': 26, 'Janaina': 25}

In [14]:
type(estudantes_dict)

dict

In [15]:
iventario = {'macã':9.99,'banana':2.50,'laranja':3.30}

In [70]:
print(f'O preço da banana é: {iventario["banana"]:.2f}')

O preço da banana é: 2.50

Adicionar mais elementos

In [18]:
estudantes_dict["Marcelo"] = 23

In [19]:
estudantes_dict["Marcelo"]

23

In [20]:
#exibir dicionario estudantes_dict após incluir Marcelo
estudantes_dict

{'Pedro': 24, 'Ana': 22, 'Ronaldo': 26, 'Janaina': 25, 'Marcelo': 23}

Adicionar mais um item no dicionário compra

In [21]:
compra['id_102'] = {
    'quantidade':2,
    'produto':'camiseta',
    'preco':98.90,
    'embalagem':'-',
    'subtotal':98.90
}

In [22]:
compra

{'id_101': {'quantidade': 1,
  'produto': 'Tênis Hocks Puff - Petitpoa UV(310.002.PET43) Tamanho: 43',
  'preco': 380.99,
  'embalagem': '-',
  'subtotal': 389.99},
 'id_102': {'quantidade': 2,
  'produto': 'camiseta',
  'preco': 98.9,
  'embalagem': '-',
  'subtotal': 98.9}}

In [23]:
produto_id_102 = compra['id_102']['produto']
print(produto_id_102)

camiseta

In [24]:
preco_id_101 = compra["id_101"]['preco']
preco_id_101

380.99

In [25]:
embalagem_compra = compra['id_101']['embalagem']
print(embalagem_compra)

-

In [26]:
#usando laço for para iterar todos os elementos do dicionário

for id_compra,dados_compra in compra.items():
    preco = dados_compra['preco']
    quantidade = dados_compra['quantidade']

    print(f'id_compra: {id_compra}')
    print(f'Preco: {dados_compra["preco"]}')
    print(f'Quantidade: {dados_compra["quantidade"]}')
    print(f'-'*20)

id_compra: id_101
Preco: 380.99
Quantidade: 1
--------------------
id_compra: id_102
Preco: 98.9
Quantidade: 2
--------------------

Substituição de um valor de uma chave

In [27]:
compra['id_102']['preco'] = 102.90
print(compra)

{'id_101': {'quantidade': 1, 'produto': 'Tênis Hocks Puff - Petitpoa UV(310.002.PET43) Tamanho: 43', 'preco': 380.99, 'embalagem': '-', 'subtotal': 389.99}, 'id_102': {'quantidade': 2, 'produto': 'camiseta', 'preco': 102.9, 'embalagem': '-', 'subtotal': 98.9}}

In [28]:
compra['id_101']['embalagem'] = 'papelão'
print(compra)

{'id_101': {'quantidade': 1, 'produto': 'Tênis Hocks Puff - Petitpoa UV(310.002.PET43) Tamanho: 43', 'preco': 380.99, 'embalagem': 'papelão', 'subtotal': 389.99}, 'id_102': {'quantidade': 2, 'produto': 'camiseta', 'preco': 102.9, 'embalagem': '-', 'subtotal': 98.9}}

```values()```Mostrar todos os valores

In [29]:
compra.values()

dict_values([{'quantidade': 1, 'produto': 'Tênis Hocks Puff - Petitpoa UV(310.002.PET43) Tamanho: 43', 'preco': 380.99, 'embalagem': 'papelão', 'subtotal': 389.99}, {'quantidade': 2, 'produto': 'camiseta', 'preco': 102.9, 'embalagem': '-', 'subtotal': 98.9}])

```keys()```Mostrar chaves

In [30]:
compra.keys()

dict_keys(['id_101', 'id_102'])

In [31]:
estudantes_dict

{'Pedro': 24, 'Ana': 22, 'Ronaldo': 26, 'Janaina': 25, 'Marcelo': 23}

In [32]:
estudantes_dict['Araújo']=32

In [33]:
estudantes_dict

{'Pedro': 24,
 'Ana': 22,
 'Ronaldo': 26,
 'Janaina': 25,
 'Marcelo': 23,
 'Araújo': 32}

````clear()```` - limpar conteúdo do dicionario

In [34]:
estudantes_dict.clear()

In [35]:
estudantes_dict

{}

```del``` Dropa o dicionario

In [36]:
del estudantes_dict

In [ ]:
estudantes_dict

NameError: name 'estudantes_dict' is not defined

In [38]:
estudantes = {"Pedro":24, "Ana":22, "Ronaldo":26, "Janaina":25}

In [39]:
estudantes

{'Pedro': 24, 'Ana': 22, 'Ronaldo': 26, 'Janaina': 25}

Busca de chave

In [42]:
busca_nome = input("Digite a chave que você busca: ")

if busca_nome in estudantes:
    print(f"Tem {busca_nome}")
else:
    print(f"não tem {busca_nome}")

não tem pedro

In [43]:
deletar_chave = input("Digite a chave que deseja deletar: ")

del estudantes[deletar_chave]
print(estudantes)

{'Pedro': 24, 'Ana': 22, 'Ronaldo': 26}

```len()``` - Retorna o tamanho. Nome do dicionario

In [44]:
len(estudantes)

3

```keys()``` - Retorna as chaves. Nome do dicionário.

In [45]:
estudantes.keys()

dict_keys(['Pedro', 'Ana', 'Ronaldo'])

```values()``` - Retorna os valores. Nome do dicionário.

In [46]:
estudantes.values()

dict_values([24, 22, 26])

```items()``` - Retorna chave e valor.

In [47]:
estudantes.items()

dict_items([('Pedro', 24), ('Ana', 22), ('Ronaldo', 26)])

```update()``` Insere elementos de uma lista em outra.

In [48]:
estudantes2 = {"Camila":27, "Adriana":28, "Roberta":26}

In [49]:
estudantes2

{'Camila': 27, 'Adriana': 28, 'Roberta': 26}

In [50]:
estudantes.update(estudantes2)

In [51]:
estudantes

{'Pedro': 24,
 'Ana': 22,
 'Ronaldo': 26,
 'Camila': 27,
 'Adriana': 28,
 'Roberta': 26}

In [52]:
dict = {}

In [53]:
dict["key1"] = "Data Science"

In [54]:
dict["key2"] = 10

In [55]:
dict["key3"] = 100

In [56]:
dict

{'key1': 'Data Science', 'key2': 10, 'key3': 100}

In [57]:
a = dict["key1"]

In [58]:
b = dict["key2"]

In [59]:
c = dict["key3"]

In [60]:
a, b, c

('Data Science', 10, 100)

In [61]:
# Dicionário de listas
dict2 = {'chave1':1230, 'chave2':[22,453,73.4], 'chave3':['picanha', 'fraldinha', 'alcatra']}

In [62]:
dict2

{'chave1': 1230,
 'chave2': [22, 453, 73.4],
 'chave3': ['picanha', 'fraldinha', 'alcatra']}

In [63]:
dict2['chave2']

[22, 453, 73.4]