## Usar a biblioteca pandas para as tarefas seguintes. Usar o arquivo linha_producao.txt

Determinar a dimensão do DataFrame (linhas, colunas).

In [ ]:
# importar o pandas
import pandas as p

# abrir o arquivo de dados
mydataset = p.read_csv("linha_producao.txt", sep=",")

# valor de linhas e colunas da tabela
print(mydataset.shape)

(253, 8)

Obter um resumo completo da estrutura, tipos de dados (dtypes) e contagem de valores não-nulos. Fundamental para identificar colunas com valores ausentes.

In [ ]:
# informações da tabela
print(mydataset.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 253 entries, 0 to 252
Data columns (total 8 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Timestamp                   253 non-null    object
 1   Linha_Producao              253 non-null    object
 2   Sensor_Temperatura_Máquina  253 non-null    float64
 3   Sensor_Vibração_Máquina     234 non-null    float64
 4   Tempo_Ciclo_s               252 non-null    float64
 5   Peças_Produzidas            253 non-null    int64
 6   Status_Qualidade            253 non-null    object
 7   Supervisor                  253 non-null    object
dtypes: float64(3), int64(1), object(4)
memory usage: 15.9+ KB
None

Visualizar as primeiras 5 linhas para uma inspeção rápida.

In [7]:
# 5 primeiras linhas
print(mydataset.head())

             Timestamp Linha_Producao  Sensor_Temperatura_Máquina  \
0  2024-01-01 00:00:00        Linha_A                        89.1
1  2024-01-01 01:00:00        Linha_B                        85.2
2  2024-01-01 02:00:00        Linha_C                        82.8
3  2024-01-01 03:00:00        Linha_B                        83.9
4  2024-01-01 04:00:00        Linha_C                        83.2

   Sensor_Vibração_Máquina  Tempo_Ciclo_s  Peças_Produzidas Status_Qualidade  \
0                     1.15           14.6                12        Defeito_A
1                     1.38           12.5                23               OK
2                     1.44           11.3                27               OK
3                     0.92           10.6                22               OK
4                     1.47           10.3                16               OK

  Supervisor
0        Ana
1      Bruno
2      Carla
3      Pedro
4        Ana

Visualizar as últimas 3 linhas (exemplo com 3).

In [8]:
# 3 últimas linhas
print(mydataset.tail(3))

               Timestamp Linha_Producao  Sensor_Temperatura_Máquina  \
250  2024-01-11 10:00:00        Linha_C                        84.4
251  2024-01-11 11:00:00        Linha_B                        86.6
252  2024-01-11 12:00:00        Linha_A                        80.6

     Sensor_Vibração_Máquina  Tempo_Ciclo_s  Peças_Produzidas  \
250                     1.17           14.5                13
251                      NaN           13.8                18
252                     1.29           11.0                29

    Status_Qualidade Supervisor
250        Defeito_B      Carla
251               OK      Pedro
252               OK        Ana

Gerar estatísticas descritivas (média, desvio padrão, mínimo, quartis).

In [9]:
# descrição da tabela
print(mydataset.describe())

       Sensor_Temperatura_Máquina  Sensor_Vibração_Máquina  Tempo_Ciclo_s  \
count                  253.000000               234.000000     252.000000
mean                    84.313439                 1.288376      12.577381
std                      2.542928                 0.188743       1.544817
min                     78.300000                 0.780000      10.000000
25%                     82.000000                 1.150000      11.200000
50%                     84.400000                 1.305000      12.600000
75%                     86.600000                 1.457500      14.000000
max                     89.100000                 1.600000      14.900000

       Peças_Produzidas
count        253.000000
mean          20.003953
std            5.736612
min           10.000000
25%           15.000000
50%           20.000000
75%           25.000000
max           29.000000

Remover todas as linhas que contenham pelo menos um valor nulo (NaN). Cria um novo DataFrame 'df_limpo'.

In [ ]:
# limpa as linhas que possuam valores nulos
df_limpo = mydataset.dropna()
print(df_limpo)

               Timestamp Linha_Producao  Sensor_Temperatura_Máquina  \
0    2024-01-01 00:00:00        Linha_A                        89.1
1    2024-01-01 01:00:00        Linha_B                        85.2
2    2024-01-01 02:00:00        Linha_C                        82.8
3    2024-01-01 03:00:00        Linha_B                        83.9
4    2024-01-01 04:00:00        Linha_C                        83.2
..                   ...            ...                         ...
247  2024-01-11 07:00:00        Linha_A                        83.6
248  2024-01-11 08:00:00        Linha_C                        87.2
249  2024-01-11 09:00:00        Linha_A                        81.9
250  2024-01-11 10:00:00        Linha_C                        84.4
252  2024-01-11 12:00:00        Linha_A                        80.6

     Sensor_Vibração_Máquina  Tempo_Ciclo_s  Peças_Produzidas  \
0                       1.15           14.6                12
1                       1.38           12.5                23
2                       1.44           11.3                27
3                       0.92           10.6                22
4                       1.47           10.3                16
..                       ...            ...               ...
247                     1.05           13.2                14
248                     1.36           12.1                22
249                     1.55           10.0                27
250                     1.17           14.5                13
252                     1.29           11.0                29

    Status_Qualidade Supervisor
0          Defeito_A        Ana
1                 OK      Bruno
2                 OK      Carla
3                 OK      Pedro
4                 OK        Ana
..               ...        ...
247               OK      Pedro
248               OK        Ana
249               OK      Bruno
250        Defeito_B      Carla
252               OK        Ana

[233 rows x 8 columns]

Intervalo de datas no índice (Timestamp) e todas as colunas. usar loc() para as próximas tarefas

In [21]:
# trazer todos os valores da coluna Timestamp, ou seja, todas as datas
tempos = mydataset["Timestamp"]
print(tempos)

0      2024-01-01 00:00:00
1      2024-01-01 01:00:00
2      2024-01-01 02:00:00
3      2024-01-01 03:00:00
4      2024-01-01 04:00:00
              ...
248    2024-01-11 08:00:00
249    2024-01-11 09:00:00
250    2024-01-11 10:00:00
251    2024-01-11 11:00:00
252    2024-01-11 12:00:00
Name: Timestamp, Length: 253, dtype: object

Valor da coluna Peças_Produzidas para um único Timestamp.

In [ ]:
# trará os valores da linha no dia 2 de janeiro de 2024 as 7 da manhã
jan_2_2024 = mydataset.loc[mydataset["Timestamp"] == "2024-01-02 07:00:00"]

# mostrará na tela apenas o valor de peças no dia resgatado
print(jan_2_2024["Peças_Produzidas"])

31    15
Name: Peças_Produzidas, dtype: int64

Todas as linhas da Linha_Producao igual a 'Linha_A' com 'Status_Qualidade' de 'Defeito_A'. Usar & para and.

In [ ]:
# usa o operador & para encontrar linhas que são da linha A de produção e possuam o defeito A
linha_A = mydataset.loc[(mydataset["Linha_Producao"] == "Linha_A") & (mydataset["Status_Qualidade"] == "Defeito_A")]
print(linha_A)

               Timestamp Linha_Producao  Sensor_Temperatura_Máquina  \
0    2024-01-01 00:00:00        Linha_A                        89.1
18   2024-01-01 18:00:00        Linha_A                        88.4
210  2024-01-09 18:00:00        Linha_A                        87.8

     Sensor_Vibração_Máquina  Tempo_Ciclo_s  Peças_Produzidas  \
0                       1.15           14.6                12
18                       NaN           14.9                26
210                     1.31           14.8                25

    Status_Qualidade Supervisor
0          Defeito_A        Ana
18         Defeito_A      Carla
210        Defeito_A      Carla

Selecionar apenas as colunas de temperatura e vibração para a Linha B.

In [2]:
# encontra todas as linhas da tabela que sejam da Linha B de produção
linha_B = mydataset.loc[mydataset["Linha_Producao"] == "Linha_B"]

# selecionar apenas as colunas de temperatura e de vibração
print(linha_B[["Sensor_Temperatura_Máquina", "Sensor_Vibração_Máquina"]])

     Sensor_Temperatura_Máquina  Sensor_Vibração_Máquina
1                          85.2                     1.38
3                          83.9                     0.92
11                         86.5                     1.01
13                         87.7                     1.07
16                         80.9                     1.09
..                          ...                      ...
235                        81.1                     1.15
238                        80.4                     1.09
241                        81.5                     1.13
243                        82.2                     1.02
251                        86.6                      NaN

[73 rows x 2 columns]